.endpointDetailsErrorMessage {
  font-size: 14px;
  font-weight: bold;
}

.endpointDetailsErrorInformation {
  padding-left: calc(8px / 2);
  font-size: 14px;
}

.endpointDetailsErrorNotDetails {
  font-size: 14px;
  font-style: italic;
}
