.endpointDetails {
  border-radius: 8px;
  margin-bottom: 1.5rem;
  background: #ffffff;
}

.endpointDetails h4 {
  margin-bottom: 0.5rem;
  color: #0747a6;
  font-size: 1.25rem;
}

.endpointDetails p {
  margin-bottom: 0.75rem;
  color: #666666;
}
